.row {
    .userAndContent{
        margin: 10px;
    }
    
}

.commentDate {
    font-style: italic;
    max-width: 45%;
}

.commentIcon {
    width: 13px;
    height: 13px;
}

.commentPhotoProfile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0;
}

input {
    color: black;
}