.loginPage {
    max-width: 1200px;
    margin: 60px auto;
}

.fillingNotes {
    font-style: italic;
    font-size: small;
}

#registerForm {
    font-size: large;

    h1 {
        font-size: xx-large;
    }

    
}


