.profileCard {
  margin-top: 100px;
  max-width: 500px;
  .close {
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .img-thumbnail {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .formProfile {
    margin: 15px 20px;
    border-bottom: solid 1px $color-2;
    padding-bottom: 15px;
  }

  .formErrors {
    color: red;
    margin-bottom: 10px;
  }

  .profileModifyIcon {
    height: 15px;
    width: 20px;
  }

  .nameDisplay {
    font-size: x-large;
  }

  .btn {
    margin-left: 15px;
  }

  .onFocus {
    border: 5px solid rgb(34, 133, 64);
    border-radius: 4px;
  }

  .confirmPhotoProfileChange {
    height: 15px;
    width: 15px;
  }
}
