.postsContainer {
    max-width: 800px;   
}

.postContent {
  text-align: left;
  .username {
    font-weight: 800;
    font-size: large;
  }
}

.threadIconProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:cover;
}

.card {
  margin-top: 35px; 
}

.card-img {
  max-height: 450px;
  object-fit: scale-down;
}

.displayLineBreak {
  white-space: pre-line;
}

.posts {
    background-color: lighten($color-2, 13%);
    max-width: 100%;
    margin: 30px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;

    &__info {
      font-size: medium;
    }
  
  
    ul {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
  
      li {
        margin: 10px 0;
        background: $color-2;
        color: $black;
        width: 100%;
        padding: 10px 0;
        border-radius: 18px;
        transition: 0.5s;
        box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
  
        &:hover {
          background: $color-1;
          box-shadow: none;
        }
      }
    }
    form {
      label {
        margin-top: 10px;
      }
      input {
        width: 50%;
        margin-top: 15px;
        height: 40px;
        padding: 5px 20px;
      }
      textarea {
        margin: 5px;
        width: 100%;
        padding: 15px;
      }
      img {
        max-width: 180px;
        max-height: 180px;
        object-fit: scale-down;
      }
  
    }

    

    &__icon {
      height: 40px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .card-text {
    font-size: large;
  }

  .headerPost {
    font-size: medium;
  }